# Node.js dependencies untuk Backend
node_modules/

# Build output atau folder build yang dihasilkan oleh proses build (misalnya TypeScript, Webpack, dll.)
build/

# Environment file untuk Backend
.env

# Log files dari backend
*.log

package-lock.json
package.json